<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cysds.dao.ISCDao">
    <resultMap id="BaseResultMap" type="com.cysds.dao.po.SC">
        <id column="Sno" property="Sno"/>
        <id column="Cno" property="Cno"/>
        <result column="Grade" property="Grade"/>
    </resultMap>

    <select id="queryAllSC" resultMap="BaseResultMap">
        SELECT * FROM sc
    </select>

    <select id="querySCBySno" resultMap="BaseResultMap">
        SELECT * FROM sc WHERE Sno = #{Sno}
    </select>
    
    <select id="querySCByCno" resultMap="BaseResultMap">
        SELECT * FROM sc WHERE Cno = #{Cno}
    </select>
    
    <select id="queryStudentsByCourse" resultType="java.util.HashMap">
        SELECT s.Sno as sno, s.Sname as sname, sc.Grade as grade
        FROM sc
        JOIN student s ON sc.Sno = s.Sno
        WHERE sc.Cno = #{Cno}
        ORDER BY sc.Grade DESC
    </select>
    
    <select id="querySCByCourseNameAndMinGrade" resultType="java.util.HashMap">
        SELECT s.Sno as sno, s.Sname as sname, c.Cname as cname, c.Cno as cno, sc.Grade as grade
        FROM sc
        JOIN student s ON sc.Sno = s.Sno
        JOIN course c ON sc.Cno = c.Cno
        WHERE c.Cname = #{courseName} AND sc.Grade >= #{minGrade}
        ORDER BY sc.Grade DESC
    </select>

    <update id="updateSC">
        UPDATE sc SET Grade = #{Grade} WHERE Sno = #{Sno} AND Cno = #{Cno}
    </update>

    <insert id="addSC">
        INSERT INTO sc (Sno, Cno, Grade) VALUES (#{Sno}, #{Cno}, #{Grade})
    </insert>

    <delete id="deleteSC">
        DELETE FROM sc WHERE Sno = #{sNo} AND Cno = #{cNo}
    </delete>
    
    <delete id="deleteSCBySno">
        DELETE FROM sc WHERE Sno = #{Sno}
    </delete>
    
    <delete id="deleteSCByCno">
        DELETE FROM sc WHERE Cno = #{Cno}
    </delete>
</mapper> 